.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #aed9e7;
    max-width: 800px;
    margin: 0 auto;
    gap: 30px;
    padding: 50px;
}

.news {
    background-color: white;
    height: fit-content;
    2 margin: 10px;
}

.news img {
    width: 100%;
}

.news p, h3 {
    margin: 10%;
}

.column {
    display: grid;
    gap: 30px;
}





